html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: rgb(54, 54, 54);
    font-size: 14px;
    position: relative;
}

/* loading */
.loading {
    top: 50%;
    width: 100%;
    text-align: center;
    position: absolute;
}
.loading div {
    margin: auto;
    height: 20px;
    line-height: 20px;
}

/* resume body */
.resume {
    padding: 50px 36px;
    float: left;
}

.myinfo {
    margin: 20px 0;
}
.summary .name {
    font-size: 28px;
    font-weight: bold;
}
.summary .cv {
    font-size: 12px;
    color: grey;
}
.myinfo .photo img {
    border-radius: 50%;
    height: 100px;
}

/* vertical content and section titles */

.header {
    font-size: 24px;
}
.header i {
    padding: 20px 0px 20px 20px;
}
.v-line1 span {
    padding-left: 10px;
}
.fa {
    padding: 10px 10px;
}
.vinfo {

}
.title {
    line-height: 54px;
    color: #266eb3;
}
.break-line {
    position: relative;
    border-bottom: 2px solid #ccc;
    float: left;
    height: 10px;
    width: 100%;
}
.break-line:before {
    position: absolute;
    content: '';
    border-top: 5px solid #ccc;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    height: 5px;
    width: 4px;
    left: 50%;
    top: 10px;
}
.break-line:after {
    position: absolute;
    content: '';
    border-top: 5px solid white;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    height: 5px;
    width: 4px;
    left: 50%;
    top: 7px;
}
.section {
    float: left;
    width: 100%;
}
/* work-expierence */
.start, .end {
}
.item:before {
    position: absolute;
    border-left: 2px solid #266eb3;
    content: '';
    height: 100%;
    margin-left: calc(16.66666667% + 14px);
    width: 2px;
    z-index: 0;
    top: 0;
    left: 0;
}
.item {
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 20px;
}
.item:last-child:before {
    display: none;
}
.item:last-child {
    padding-bottom: 0px;
}
.item .dotted {
    border-radius: 50%;
    border: 4px solid white;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #333;
    transition: 0.2s all ease-in;
}
.item:hover .dotted {
    background-color: #266eb3;
    transform: scale(1.5);
}
.item .company {
    font-weight: bold;
    font-size: 16px;
}
.item .pro-links {
    word-break: break-word;
}
.xposition {
    color: #266eb3;
}
.skills .fa {
    padding: 0;
}
.skills .name {
    width: 120px;
    float: left;
}
.skills .level {
    float: left;
}
.skill .level i.up {
    color: #266eb3;
}
.body-content .xinfo p {
    text-align: justify;
}
.lang div {
    float: right;
    padding: 5px;
    opacity: 0.5;
    cursor: pointer;
}
.lang div.on {
    opacity: 1;
}
.lang div img {
    width: 36px;
}
#hobbies .rows div {
    text-align: center;
    border-right: 1px solid #266eb3;
}
#hobbies .rows div:last-child {
    border: 0px;
}
@media (max-width: 768px) {
    .photo {
        text-align: center;
        padding: 20px 0;
    }
    .item:before {
        display: none;
    }
    .body-content .dot {
        display: none;
    }
    .xtime {
        margin-bottom: 10px;
    }
    .header i {
        padding: 0px;
    }
    .start, .end {
        display: inline-block;
    }
    .resume {
        padding: 32px 20px;
    }
}
a:hover {
    cursor: pointer;
}
.covter {
    line-height: 100px;
    text-align: center;
    width: 100%;
    display: inline-block;

}
#triangle-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #23527c;
 }
 .triangle {
    float: left;
    margin-top: 20px;
    position: relative;
    left: 50%;
 }
