* {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.myname {
	font-style: bold;
	font-size: 18px;
}
.mycv {
	font-size: 12px;
	color: grey;
}

/* vertical content and section titles */
.header {
/*	display:inline-block;*/
}
.icons {
	padding: 20px 10px 5px 40px;
}
.vinfo {

}
.icon {
	padding: 20px;
}
.title {
	line-height: 54px;
    font-size: 24px;
}

/* work-expierence */
.start, .end {
	
}