<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Julie's CV</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
        <link href="css/moncv.css" rel="stylesheet">
    </head>
    <body>
        <div id="resume" class="resume" style="display: none">
            <div class="summary">
                <div class="header row">
                    <div class="col-xs-6">
                        <div class="name">Qingyun Zhang</div>
                        <div class="cv">Curriculum vitae</div>
                    </div>
                    <div class="lang col-xs-6">
                        <div class="l on" data-lang="en">
                            <img alt="en" src="imgs/Canada.png"/>
                        </div>
                        <div class="l" data-lang="fr">
                            <img alt="fr" src="imgs/France.png"/>
                        </div>
                    </div>
                </div>
                <div class="myinfo row">
                    <div class="vertical photo col-xs-12 col-sm-12 col-md-push-8 col-md-4">
                        <img src="imgs/face.jpg">
                    </div>
                    <div class="vertical col-xs-12 col-sm-6 col-md-pull-4 col-md-4">
                        <div class="v-line1">
                            <i class="fa fa-fw fa-birthday-cake" aria-hidden="true"></i>
                            <span class="vinfo">Sep. 10 1990</span>
                        </div>
                        <div class="v-line1">
                            <i class="fa fa-fw fa-phone" aria-hidden="true"></i>
                            <span class="vinfo"><a href="tel:4389270910">(438) 927 0910</a></span>
                        </div>
                        <div class="v-line1">
                            <i class="fa fa-fw fa-globe" aria-hidden="true"></i>
                            <span class="vinfo"><a href="http://julia.moe" target="_blank">julia.moe</a></span>
                        </div>
                    </div>
                    <div class="vertical col-xs-12 col-sm-6 col-md-pull-4 col-md-4">
                        <div class="v-line1">
                            <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
                            <span class="vinfo"><a href="mailto:julie@julia.moe" target="_blank">julie@julia.moe</a></span>
                        </div>
                        <div class="v-line1">
                            <i class="fa fa-fw fa-linkedin" aria-hidden="true"></i>
                            <span class="vinfo"><a href="https://ca.linkedin.com/in/qingyun-zhang-416a61126" target="_blank">qingyun zhang</a></span>
                        </div>
                        <div class="v-line1">
                            <i class="fa fa-fw fa-facebook" aria-hidden="true"></i>
                            <span class="vinfo"><a href="https://www.facebook.com/zhang.qingyun.7" target="_blank">zhang.qingyun.7</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="break-line"></div>
            <div id="work-experience" class="section">
                <div class="header">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <span class="title">Work experience</span>
                </div>
                <div class="body-content">
                    <div class="item" v-for="work in works">
                        <div class="wrap row">
                            <div class="xtime col-sm-2 col-xs-12">
                                <div class="start">{{work.start}}</div>
                                <div class="end">{{work.end}}</div>
                            </div>
                            <div class="dot col-sm-1 col-xs-12">
                                <i class="dotted" aria-hidden="true"></i>
                            </div>
                            <div class="xcontent col-sm-9 col-xs-12">
                                <div class="company">{{work.company}}</div>
                                <div class="descript">{{work.descript}}</div>
                                <div class="xposition">{{work.position}}</div>
                                <div class="xinfo"><p v-for="m in work.responsbility" class="margin0">{{m}}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="education" class="section">
                <div class="header">
                    <i class="fa fa-university" aria-hidden="true"></i>
                    <span class="title">Education</span>
                </div>
                <div class="body-content">
                    <div class="item" v-for="education in educations">
                        <div class="wrap row">
                            <div class="xtime col-sm-2 col-xs-12">
                                <div class="start">{{education.start}}</div>
                                <div class="end">{{education.end}}</div>
                            </div>
                            <div class="dot col-sm-1 col-xs-12">
                                <i class="dotted" aria-hidden="true"></i>
                            </div>
                            <div class="xcontent col-sm-9 col-xs-12">
                                <div class="company">{{education.university}}</div>
                                <div class="xposition">{{education.diploma}}&nbsp;&nbsp;&nbsp;&nbsp;{{education.major}}</div>
                                <div class="xinfo"><p v-for="m in education.majorcourse">{{m}}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="skillset" class="section">
                <div class="header">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <span class="title">My skillset</span>
                </div>
                <div class="skills rows">
                    <div class="skill col-xs-12 col-sm-6 col-md-3" v-for="skill in skills">
                        <div class="name">
                            {{skill.name}}
                        </div>
                        <div class="level" data-level="{{skill.level}}">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div id="projects" class="section">
                <div class="header">
                    <i class="fa fa-link" aria-hidden="true"></i>
                    <span class="title">projects</span>
                </div>
                <div class="body-content">
                  <div class="item" v-for="project in projects">
                    <div class="wrap row">
                    <div class="xtime col-sm-2 col-xs-12"></div>
                    <div class="dot col-sm-1 col-xs-12">
                      <i class="dotted" aria-hidden="true"></i>
                    </div>
                    <div class="xcontent col-sm-9 col-xs-12">
                      <div class="pro-names company">{{project.name}}</div>
                      <div class="pro-links"><a>{{project.link}}</a></div>
                    </div>
                  </div>
                  </div>
                </div>
            </div>
            <div id="hobbies" class="section">
                <div class="header">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <span class="title">Hobbies</span>
                </div>
                <div class="rows">
                    <div class="col-xs-6 col-sm-3 col-md-1" v-for="hobby in hobbies">
                        {{hobby}}
                    </div>
                </div>
            </div>
        </div>
        <div id="loading-wrap" class="loading">
            <div id="loading">loading...</div>
        </div>
        <script type="text/javascript">
            var interval = 0;
            function startLoading() {
                var str = 'loading...';
                var index = str.length;
                var offset = -1;
                document.getElementById('loading-wrap').style.display = 'block';
                document.getElementById('resume').style.display = 'none';
                interval = setInterval(function() {
                if (index === 0 || index > str.length) offset *= -1;
                document.getElementById('loading').innerHTML = str.substring(0, index);
                    index += offset;
                }, 50);
            };
            function stopLoading() {
                document.getElementById('loading-wrap').style.display = 'none';
                document.getElementById('resume').style.display = 'block';
                clearInterval(interval);
            };
            startLoading();
        </script>
        <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vue.min.js"></script>
        <script type="text/javascript" src="js/moncv.js"></script>
    </body>
</html>
